/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: transparent;
height: 100%;
width: 60%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}
#ch4{
  text-align: center;
  font-size: 900px;
}
.dropbtn {
  background-color: #red;
  border-radius: 20px;
  width: 90px;
  height: auto;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: red;
}
button:hover{
  background-color: #95d788;
  background-image: linear-gradient(#6cbb6b, #95d788);
}
button:active{
  background: #95d788;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;

}
/* Dropdown Button */
.dropbtn {
  background-color: #red;
  border-radius: 20px;
  width: 90px;
  height: auto;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #23441e;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 3%;
    margin-right: -4%;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration-style: wavy;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #fff;
  background-color: transparent;

}
p{
  text-indent: inherit;
  text-align: justify;
}
h2{
  text-align: center;
}
#img1 {
  width: 101px;
  margin-left: 9px;
  border-radius: 33px;
}
#button1{
  text-align: center;
  margin-left: 8%;
  width: 60%;

}
#btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
}
#a1{
  vertical-align: bottom;
margin-top: 0%;
text-combine-upright: ;
text-align: center;
margin-top: -57px;
width: 54%;
margin-left: 119px;
}
/*for scroll*/
* {
box-sizing: border-box;
}
/*This just stops me getting horizontal scrolling if anything overflows the width*/
body {
overflow-x: hidden;
}
html,
body {
    padding: 0;
    margin: 0;

}
.Top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    position: relative;
    z-index: 10;
    height: 100px;
}
.Container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}
/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/
.Left,
.Middle,
.Right {
    overflow:auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
/*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/
.Left::-webkit-scrollbar,
.Middle::-webkit-scrollbar,
.Right::-webkit-scrollbar {
    display: none;
}
/*  Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/
.Left {
        width: 70%
}

.Middle {
    margin-left: -19%;
    margin-right: -17%;
    padding-left: 2%;

}

.Right {
    width: 12.5rem;
}
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
#btn-info1{
  width: 30%;
font-family: monospace;
font-weight: lighter;
font-style: inherit;
font-size: -webkit-xxx-large;
background-color: transparent;
color: dimgrey;
font-variant: small-caps;
transform-style: preserve-3d;
border-style: inherit;
text-align: center;
text-shadow: firebrick;

}
#content{
  text-align: left;
  margin-left: 24%;
  margin-right: 14%;
  font-stretch: extra-expanded;
  font-style: inherit;
  font-family: serif;
  margin-bottom: -1%;
}
#content2{
  text-align: left;
  color: inherit;
  margin-left: 29%;
}
#topname{
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: darkred;

}
#name{
  text-align: start;
font-size: 23px;
font-weight: inherit;
color: currentColor;
}
#topimage{
  align-items: center;
}
#bottomimage{
  align-items: center;
  margin-left: -29%;
}
#jumbotron {

  padding-top: 67px;
  padding-bottom: 47px;
  color: inherit;
  background-image: url("file:///Users/stevejobs/Desktop/Practice/Apps/Portfolio/Docs/images/3D.png");
  width: auto;
  height: auto;
  display: block;
  margin-top: -0.5%;
  margin-bottom: auto;


}
#h1{
  color: black;
  font-style: inherit;
  opacity: 100%;
  font-weight: 500;
  margin-left: 18%;
}
